body {
  margin: 0;
  font-size: 16px;
  background: url('../media/valley.jpg') no-repeat center center fixed;
  background-color: #cccccc;
  height: 1100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  font-family: 'Fjalla One', sans-serif;
}
a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.image-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.link {
  width: 50px;
  padding: 0 1rem;
  margin: 6rem 4rem 0 0;
}
.col-60 {
  width: 60%;
}
.col-50 {
  width: 50%;
}
.col-40 {
  width: 40%;
}
.col-25 {
  width: 25%;
}
/* .row-60 {
  height: 60%;
}
.row-40 {
  height: 40%;
} */
#silas-img {
  width: 390px;
  position: fixed;
  border: 4px solid black;
  border-radius: 50%;
  margin: 3.5em 0 0 14em;
}
.name-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.line-decoration {
  /* border-bottom: 4px solid white; */
  border-bottom: 4px solid black;
  margin: 0 2rem 0 0;
}
.name {
  justify-content: end;
  float: right;
  font-size: 3rem;
  /* color: white; */
  color: black;
}
